body {
  /* background-color: #f7f2e9; */
  background-color: #282c34;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img {
  width: 100%;
}
.center {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
/* .MUIRichTextEditor-editorContainer-35 {
  position: "relative";
} */

.MuiDialogTitle-root > .MuiTypography-root {
  text-align: center;
}
.player-wrapper {
  width: 100%;
  height: auto;
}
/* input:invalid {
  border-color: red !important;
} */

.color-white {
  color: white;
}

.carousel-root {
  width: "100%";
  justify-content: "center";
}
.chart {
  background-color: white !important;
}
.chart .MuiInputBase-root {
  background-color: "#234042";
}
.MuiGrid-root a:hover {
  color: aquamarine !important;
}
.main-nav-name {
  color: black !important;
}
a {
  cursor: pointer;
}
/* a:hover .main-nav-name a {
  color: rgb(71, 71, 71) !important;
} */
/* .dx-visibility-change-handler text {
  fill: white !important;
}
.dx-export-menu-list{
  fill: #234042;
} */
